<%= form_with model: @item, url: url do |f| %>
  <div class="form-group mb-3 row">
    <label for="inputItemFile" class="col-sm-2 col-form-label">商品画像</label>
    <div class="col-sm-10">
      <%= f.file_field :image, accept: "image/*" %>
    </div>
  </div>

  <div class="form-group mb-3 row">
    <label for="inputItemName" class="col-sm-2 col-form-label">商品名</label>
    <div class="col-sm-10">
      <%= f.text_field :name, placeholder: "ショートケーキ" %>
    </div>
  </div>

  <div class="form-group mb-3 row">
    <label for="inputItemName" class="col-sm-2 col-form-label">商品説明</label>
    <div class="col-sm-10">
      <%= f.text_field :introduction, placeholder: "自慢のイチゴをふんだんに使用しております。" %>
    </div>
  </div>

  <div class="form-group mb-3 row">
    <label for="inputItemName" class="col-sm-2 col-form-label">ジャンル</label>
    <div class="col-sm-10">
    <% if current_page?(new_admin_item_path) %>
      <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), { include_blank: "--選択してください--" } %>
    <% else %>
      <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
    <% end %>
    </div>
  </div>

  <div class="form-group mb-3 row">
    <label for="inputItemName" class="col-sm-2 col-form-label">税抜価格</label>
    <div class="col-sm-10">
      <%= f.text_field :price, placeholder: "1000円" %>
    </div>
  </div>

  <div class="form-group mb-3 row">
    <label for="inputItemName" class="col-sm-2 col-form-label">販売ステータス</label>
    <div class="col-sm-10">
      <%= f.radio_button :sell_status, Item.sell_statuses.key(0) %>
      <%= f.label :sell_status_now_on_sale, Item.sell_statuses_i18n[:now_on_sale] %>

      <%= f.radio_button :sell_status, Item.sell_statuses.key(1) %>
      <%= f.label :sell_status_sales_stop, Item.sell_statuses_i18n[:sales_stop]%>
    </div>
  </div>

  <div class="form-group mb-3 row">
    <% if current_page?(new_admin_item_path) %>
      <%= f.submit '新規登録', class: "btn btn-success" %>
    <% else %>
      <%= f.submit '編集', class: "btn btn-success" %>
    <% end %>
  </div>

<% end %>