<h3>商品一覧</h3>
<%= link_to '新規登録', new_admin_item_path %>
<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <th><%= item.id %></th>
        <th><%= item.name %></th>
        <th><%= item.price %></th>
        <th><%= item.genre_id %></th>
        <th><%= item.sell_status %></th>
        <th><%= link_to '編集', edit_admin_item_path(item.id) %></th>
      </tr>
    <% end %>
  </tbody>
</table>