<h3>商品詳細</h3>
<%= image_tag @item.get_image(500,400) %>
<h4>商品名</h4>
<%= @item.name %>
<h4>商品説明</h4>
<%= @item.introduction %>
<h4>ジャンル</h4>
<%= @item.genre.name %>
<h4>税込価格（税抜価格）</h4>
<%= @item.with_tax_price %>
<h4>販売ステータス</h4>
<% if @item.sell_status_i18n == '販売中' %>
  <div class="sell_status_0">販売中</div>
<% else %>
  <div class="sell_status_1">販売停止中</div>
<% end %>
<%= link_to '編集する', edit_admin_item_path(@item.id), class: "btn btn-success" %>