<h3>ジャンル一覧・追加</h3>
<h4>ジャンル名</h4>
<%= form_with model: @item do |f| %>
  <%= f.text_field :name, placeholder: "ジャンル名入力" %>
  <%= f.submit '新規登録', class: "btn btn-success" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.name %></td>
        <td><%= link_to '編集する', class: "btn btn-sm btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>