<%= form_with model: address do |f| %>
<%= render 'layouts/errors', obj: address %>
  <%= f.hidden_field :customer_id, :value => current_customer.id %>

  <div class="form-group mb-3 row">
    <label for="PostCode" class="col-sm-3 col-form-label">郵便番号（ハイフンなし）</label>
    <div class="col-sm-9">
      <%= f.text_field :post_code, autocomplete: "post_code", placeholder: "0000000" %>
    </div>
  </div>

  <div class="form-group mb-3 row">
    <label for="Address" class="col-sm-3 col-form-label">住所</label>
    <div class="col-sm-9">
      <%= f.text_field :address, autocomplete: "address", placeholder: "東京都渋谷区代々木神園町0-0" %>
    </div>
  </div>

  <div class="form-group mb-3 row">
    <label for="Name" class="col-sm-3 col-form-label">宛名</label>
    <div class="col-sm-9">
      <%= f.text_field :name, autocomplete: "name", placeholder: "令和道子" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "新規登録", class: "btn btn-success" %>
  </div>
<% end %>