<%= form_with model: @order, url: confirm_orders_path do |f| %>
  <h3>注文情報入力</h3>
  <h4>支払い方法</h4>
  <div>
    <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
    <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
  </div>
  <div>
    <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
    <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
  </div>

  <h4>お届け先</h4>
  <div class="field mb2 select_address_0">
		<label class="fz16"><%= radio_button_tag :select_address, 0, :checked => true %>ご自身の住所</label>
		<p>〒<%= current_customer.post_code %> <%= current_customer.address %></p>
		<p><%= current_customer.family_name + current_customer.first_name %></p>
	</div>

	<div class="field mb2 select_address_1">
		<label class="fz16"><%= radio_button_tag "select_address", 1 %>登録済住所から選択</label>
		<%= select_tag "address_id", options_from_collection_for_select(current_customer.addresses, :id, :address), prompt: "住所を選択してください" %>
	</div>

	<div class="field mb2 select_address_2">
			<label class="fz16"><%= radio_button_tag "select_address", 2 %>新しいお届け先</label>
			<div class="field">
				<%= f.label :post_code, "郵便番号(ハイフンなし7桁)" %>
				<%= f.text_field :post_code, autocomplete: "post_code", placeholder: "郵便番号" %>
			</div>
			<div class="field">
				<%= f.label :address, "住所(郵便番号から自動入力)" %>
				<%= f.text_field :address, autocomplete: "address", placeholder: "住所" %>
			</div>
			<div class="field">
				<%= f.label :name, "宛名" %>
				<%= f.text_field :name, autocomplete: "name", placeholder: "宛名" %>
			</div>
		</div>
		<%= f.submit "注文確認画面に進む", class: "btn btn-primary" %>
<% end %>